/**/
/* カレンダーの大外枠 */
#calendar_parent {
    /* 200313 sakai page__contentでのスクロールバーを消すoverflow: noneを入れたのでfixed不要。*/
    /*position: fixed;*/
    /*margin-top: 61px;*/
    width: 100%;        /* 横幅100% */
    height: 50vh;       /* 半分 */
    z-index: 100;

}
/* カレンダーの日付それぞれ */
th {
    text-align: center;
    font-size: 10px;

}

/* 外側の枠に対して */
table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;

}
td {
    height: 10%;
    text-align: start;    /* 水平方向 */
    vertical-align: top;  /* 垂直方向 */
    font-size: 10px;
}
/* Calendar内の数字 */
.calendar_sum_str_div {
   pointer-events: none; /* 電話番号リンク無効 */
}
#balance_list {
    /*margin-bottom: 450px;*/
    font-size: 1px;
    overflow: auto;
}
#balance_all {
    /* 200313 sakai 自然に回り込ませるfloat : noneを指定 */
    float : none;
    text-align: left;
    /* 200313 sakai 親のposition: fixedがなくなりそのまま上のコンテンツの下に配置されるので不要 */
    /*margin-top: 389px;*/
}
.list-item {
  font-size: 15px;
    z-index: 100;
}
#charts {
  display: block;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* 指定された要素で惰性付き( momentum-based ) のスクロールを使用するかどうか */
  -ms-overflow-style: none;          /* IE、Edgeでスクロールバーを非表示にするらしい、でも非表示なるくね */
  -ms-scroll-snap-type: mandatory;   /* スクロール先に居座り続けるようになる */
}
}
