/**/
/* カレンダーの大外枠 */
#calendar_parent {
    position: fixed;
    margin-top: 61px;
    width: 100%;        /* 横幅100% */
    height: 50vh;       /* 半分 */
    z-index: 100;

}
/* カレンダーの日付それぞれ */
th {
    text-align: center;
    font-size: 10px;

}
/* 登録対象外の日にちに対して */
.calendar_non_target_td {
    font-size: 10px;
    background-color: gray;
}
/* 外側の枠に対して */
table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;

}
td {

    height: 10%;
    text-align: start;    /* 水平方向 */
    vertical-align: top;  /* 垂直方向 */
    font-size: 10px;

}
/* Calendar内の数字 */
.calendar_sum_str_div {
   pointer-events: none; /* 電話番号リンク無効 */
}
#balance_list {
    margin-bottom: 450px;
    font-size: 1px;
    overflow: auto;
}
#balance_all {
    text-align: left;
    margin-top: 389px;
}
.list-item {
  font-size: 15px;
    z-index: 100;
}
